repo.xml
*.class
*.iml
*.log*
*.logs*
logs
log
!eu.ciechanowiec.sling.rocket*log*
!org.apache.sling*log*
.idea
.vscode
target
node_modules
.DS_Store
.terraform/
*.tfstate.backup
*.drawio.png.bkp
# Compiled documentation:
README.html
README.pdf
