services:

  sling:
    environment:
      SLING_DIR: /opt/sling
      # comma-separated, like: basic,sling
      RUN_MODES:
      # On multi-version support: https://sling.apache.org/documentation/bundles/osgi-installer.html#multi-version-support-1
      ENABLE_MULTI_VERSION_SUPPORT: false
      HTTP_PORT: 8080
      # Leave the debug port empty to disable debugging mode:
      JAVA_DEBUG_PORT: 8081
      EXTRA_JAVA_OPTS:
    image: ciechanowiec/sling:13.12.0
    container_name: sling
    volumes:
      - type: volume
        source: sling-data
        target: /opt/sling/launcher
    # Grace period should be long enough so that the JCR is closed correctly and doesn't get corrupted:
    stop_grace_period: 300s
    hostname: sling
    networks:
      - sling-network
    ports:
      - target: 8080
        published: 8080
        protocol: tcp
        mode: host
      - target: 8081
        published: 8081
        protocol: tcp
        mode: host
    labels:
      - "docker-volume-backup.stop-during-backup=false"

  backup:
    environment:
      # Every day at 1:00 a.m.
      BACKUP_CRON_EXPRESSION: "0 1 * * *"
      BACKUP_FILENAME: backup-%Y-%m-%dT%H-%M-%S.tar.gz
      BACKUP_PRUNING_PREFIX: backup-
      BACKUP_RETENTION_DAYS: 7
    image: offen/docker-volume-backup:v2
    container_name: backup
    volumes:
      - type: volume
        source: sling-data
        target: /backup/sling
        read_only: true
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
        read_only: true
      - type: bind
        source: ${HOME}/backups
        target: /archive
        read_only: false
    # Grace period should be long enough so that the JCR is closed correctly and doesn't get corrupted:
    stop_grace_period: 300s
    hostname: backup
    networks:
      - sling-network
    depends_on:
      - sling

volumes:
  sling-data:
    name: "sling-data"

networks:
  sling-network:
    driver: bridge
    # This name is required to avoid name prefixing by Docker:
    name: sling-network
