services:

  rocket-instance:
    environment:
      SLING_DIR: /opt/sling
      # comma-separated, like: basic,sling
      RUN_MODES:
      # On multi-version support: https://sling.apache.org/documentation/bundles/osgi-installer.html#multi-version-support-1
      ENABLE_MULTI_VERSION_SUPPORT: false
      HTTP_PORT: 8080
      # Leave the debug port empty to disable debugging mode:
      JAVA_DEBUG_PORT: 8081
      EXTRA_JAVA_OPTS:
    image: ciechanowiec/rocket-instance:19.0.0
    container_name: rocket-instance
    volumes:
      - type: volume
        source: rocket-data-raw
        target: /opt/sling/launcher/repository/segmentstore
      - type: volume
        source: rocket-data-dump
        target: /var/rocket-data-dump
    # Grace period should be long enough so that the JCR is closed correctly and doesn't get corrupted:
    stop_grace_period: 300s
    hostname: rocket-instance
    networks:
      - rocket-network
    ports:
      - target: 8080
        host_ip: 127.0.0.1
        published: 8080
        protocol: tcp
        mode: host
      - target: 8081
        host_ip: 127.0.0.1
        published: 8081
        protocol: tcp
        mode: host
    labels:
      - "docker-volume-backup.stop-during-backup=false"
      - "docker-volume-backup.archive-pre=/bin/sh -c '/opt/sling/dump-rocket-data.sh'"

  rocket-backuper:
    environment:
      # Every day at 1:00 a.m.
      BACKUP_CRON_EXPRESSION: "0 1 * * *"
      BACKUP_FILENAME: rocket-backup-%Y-%m-%dT%H-%M-%S.tar.gz
      BACKUP_PRUNING_PREFIX: rocket-backup-
      BACKUP_RETENTION_DAYS: 7
    image: offen/docker-volume-backup:v2
    container_name: rocket-backuper
    volumes:
      - type: volume
        source: rocket-data-raw
        target: /backup/rocket-data-raw
        read_only: true
      - type: volume
        source: rocket-data-dump
        target: /backup/rocket-data-dump
        read_only: true
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
        read_only: true
      - type: bind
        source: ${HOME}/backups
        target: /archive
        read_only: false
    # Grace period should be long enough so that the JCR is closed correctly and doesn't get corrupted:
    stop_grace_period: 300s
    hostname: rocket-backuper
    networks:
      - rocket-network
    depends_on:
      - rocket-instance

  rocket-nginx:
    environment:
      DOMAIN: ciechanowiec.hopto.org
      EMAIL: herman@ciechanowiec.eu
      IS_STAGING_ENV: true
    image: ciechanowiec/rocket-nginx:19.0.0
    container_name: rocket-nginx
    hostname: rocket-nginx
    networks:
      - rocket-network
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host

volumes:
  rocket-data-raw:
    name: "rocket-data-raw"
  rocket-data-dump:
    name: "rocket-data-dump"

networks:
  rocket-network:
    driver: bridge
    # This name is required to avoid name prefixing by Docker:
    name: rocket-network
