name: 'Release Docker Images'

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Maven Central Repository
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'

      - name: Build application and prepare artifacts
        working-directory: src/2_rocket-instance/maven-project
        run: |
          # Build the project
          mvn clean package

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          # This limits the builder to run only 1 step at a time
          # effectively serializing the multi-arch build.
          buildkitd-config-inline: |
            [worker.oci]
              max-parallelism = 1

      - name: Deploy `rocket-base` image
        working-directory: src
        run: |
          docker buildx bake \
            --file docker-compose.yml \
            --set '*.platform=linux/amd64,linux/arm64' \
            --push \
            rocket-base
      - name: Deploy `rocket-instance` image
        working-directory: src
        run: |
          # Create a builder with restricted parallel processing
          docker buildx create --use --driver-opt "max-parallel=1"

          docker buildx bake \
            --file docker-compose.yml \
            --set '*.platform=linux/amd64,linux/arm64' \
            --push \
            rocket-instance
      - name: Deploy `rocket-nginx` image
        working-directory: src
        run: |
          docker buildx create --use
          docker buildx bake \
            --file docker-compose.yml \
            --set '*.platform=linux/amd64,linux/arm64' \
            --push \
            rocket-nginx
